# for data processing and analysis
numpy
matplotlib
pandas
scipy
scikit-learn

rtree

# for Jupyter Notebook
jupyter

# to_markdown() require tabulate
tabulate

# for geocoding
geopy

# for testing
pytest