# for data processing and analysis
numpy

# for plotting
matplotlib

# for data manipulation
pandas

# for scientific computing
scipy

# for LOF (Local Outlier Factor) algorithm
scikit-learn

# for spatial indexing
rtree

# for Jupyter Notebook
jupyter

# to_markdown() require tabulate
tabulate

# for geocoding
geopy

# for testing
pytest

# for kriging
pykrige